
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationLabel">Create or edit a Location</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.location.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.location.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.location.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.location.latitude"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPicture($file, vm.location)">
            <label class="control-label" for="field_picture">Picture</label>
            <div>
                <div ng-if="vm.location.picture" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.location.pictureContentType, vm.location.picture)">open</a><br>
                    <span class="pull-left">{{vm.location.pictureContentType}}, {{vm.byteSize(vm.location.picture)}}</span>
                    <button ng-click="vm.location.picture=null;vm.location.pictureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPicture($file, vm.location)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.location.picture"
                     />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                    ng-model="vm.location.pictureContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setVideo($file, vm.location)">
            <label class="control-label" for="field_video">Video</label>
            <div>
                <div ng-if="vm.location.video" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.location.videoContentType, vm.location.video)">open</a><br>
                    <span class="pull-left">{{vm.location.videoContentType}}, {{vm.byteSize(vm.location.video)}}</span>
                    <button ng-click="vm.location.video=null;vm.location.videoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setVideo($file, vm.location)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="video" id="field_video"
                    ng-model="vm.location.video"
                     />
            <input type="hidden" class="form-control" name="videoContentType" id="field_videoContentType"
                    ng-model="vm.location.videoContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAsbuild($file, vm.location)">
            <label class="control-label" for="field_asbuild">Asbuild</label>
            <div>
                <div ng-if="vm.location.asbuild" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.location.asbuildContentType, vm.location.asbuild)">open</a><br>
                    <span class="pull-left">{{vm.location.asbuildContentType}}, {{vm.byteSize(vm.location.asbuild)}}</span>
                    <button ng-click="vm.location.asbuild=null;vm.location.asbuildContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAsbuild($file, vm.location)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="asbuild" id="field_asbuild"
                    ng-model="vm.location.asbuild"
                     />
            <input type="hidden" class="form-control" name="asbuildContentType" id="field_asbuildContentType"
                    ng-model="vm.location.asbuildContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.location.text"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.location.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.location.description"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
