<div>
    <h2>Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span>Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span>Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="altitude"><span>Altitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span>Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video"><span>Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="asbuild"><span>Asbuild</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text"><span>Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="username"><span>Username</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="masalah"><span>Masalah</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usulan"><span>Usulan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceName"><span>Device Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="version"><span>Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.longitude}}</td>
                    <td>{{location.latitude}}</td>
                    <td>{{location.altitude}}</td>
                    <td>
                        <a ng-if="location.picture" ng-click="vm.openFile(location.pictureContentType, location.picture)">open</a>
                        <span ng-if="location.picture">{{location.pictureContentType}}, {{vm.byteSize(location.picture)}}</span>
                    </td>
                    <td>
                        <a ng-if="location.video" ng-click="vm.openFile(location.videoContentType, location.video)">open</a>
                        <span ng-if="location.video">{{location.videoContentType}}, {{vm.byteSize(location.video)}}</span>
                    </td>
                    <td>
                        <a ng-if="location.asbuild" ng-click="vm.openFile(location.asbuildContentType, location.asbuild)">open</a>
                        <span ng-if="location.asbuild">{{location.asbuildContentType}}, {{vm.byteSize(location.asbuild)}}</span>
                    </td>
                    <td>{{location.text}}</td>
                    <td>{{location.status}}</td>
                    <td>{{location.description}}</td>
                    <td>{{location.username}}</td>
                    <td>{{location.masalah}}</td>
                    <td>{{location.usulan}}</td>
                    
                    <td>{{location.type}}</td>
                    <td>{{location.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{location.deviceName}}</td>
                    <td>{{location.version}}</td>
                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
