
<div>
    <h2><span>Location</span> {{vm.location.id}}</h2>
    <hr>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Longitude</span></dt>
        <dd>
            <span>{{vm.location.longitude}}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
            <span>{{vm.location.latitude}}</span>
        </dd>
        <dt><span>Picture</span></dt>
        <dd>
            <div ng-if="vm.location.picture">
                <a ng-click="vm.openFile(vm.location.pictureContentType, vm.location.picture)">open</a>
                {{vm.location.pictureContentType}}, {{vm.byteSize(vm.location.picture)}}
            </div>
        </dd>
        <dt><span>Video</span></dt>
        <dd>
            <div ng-if="vm.location.video">
                <a ng-click="vm.openFile(vm.location.videoContentType, vm.location.video)">open</a>
                {{vm.location.videoContentType}}, {{vm.byteSize(vm.location.video)}}
            </div>
        </dd>
        <dt><span>Asbuild</span></dt>
        <dd>
            <div ng-if="vm.location.asbuild">
                <a ng-click="vm.openFile(vm.location.asbuildContentType, vm.location.asbuild)">open</a>
                {{vm.location.asbuildContentType}}, {{vm.byteSize(vm.location.asbuild)}}
            </div>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
            <span>{{vm.location.text}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.location.status}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.location.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
